.about-hero{
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-size: cover cover;
    background: no-repeat center bottom;
    h6{
        color: white;
        font-size: 3rem;
        text-align: center;
           margin-top: 50%;
    }
}