.about-hero{
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: bottom;

    h6{
        color: white;
        font: 3rem $nb;
        text-align: center;
           margin-top: 22%;
    }
}

.about-section{
    margin-left: 16%;
    font: 1rem $mwl, sans-serif;
    line-height: 28px;
    width: 854px;
h2 {
    text-align: center;
    font: 2.063rem $nb;
    color: $title_color;
}
}