.archive {
  .site-main{
      border-right: 1px solid #d3d3d3;
	  margin-left:122px;
	  margin-top: 68px;
	  .page-title{
		  border-bottom: 1px solid #e1e1e1;
    margin-bottom: 3rem;
    padding-bottom: 1rem;
	font: 2.4rem $nb;
	  }
.entry-title{
	color: white;
	background: $color_everywhere
	top: 0;
}
}

