	/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
	/* Posts and pages */
	
	.sticky {
		display: block;
	}
	
	.hentry {
		margin: 0 0 $base__space-unit;
	}
	
	.updated:not(.published) {
		display: none;
	}
	
	.single .byline,
	.group-blog .byline {
		display: inline;
	}
	
	.page-content,
	.entry-content,
	.entry-summary {
		margin: $base__space-unit 0 0;
		a {
			text-decoration: none;
			color: black;
			border: 1px solid black;
			font: 0.875rem $n;
			padding: 10px 20px;
			width: 21%;

        &:hover{
          background: #248a83;
        }
 }
		}
	
	
	.site-content {
		.site-mains {
			width: 70%;
			padding: 10% 4% 0% 0%;
			border-right: 1px solid lightgrey;
			margin-left: 74px;
		}
	}
	
	.social-media-button {
		display: flex;
		p {
			margin-right: 5px;
		}
		a {
			text-decoration: none;
			color: black;
			border: 1px solid black;
			font: 0.875rem $n;
			padding: 10px 20px;
			width: 102%;
			&:hover {
				background-color: $color_everywhere
			}
		}
	}
	
	#primary {
		display: flex;
		margin-left: auto;
		margin-right: auto;
	}
	
	.widget-area {
		padding: 10% 13px 0 0;
		margin-left: 80px;
		flex: 26% 0 0;
		h2 {
			font: 1.5rem $nb;
			color: $title_color;
			line-height: 1.875rem;
		}
		a {
			color: $color_everywhere;
			line-height: 28px;
		}
		i {
			margin-right: 5px;
		}
		p {
			font: 1rem $mwl;
		}
		span {
			font: 1rem $mwb;
		}
		li {
			list-style-type: none;
		}
		.textwidget p {
			display: flex;
		}
	}
	
	.content-area-journal-posts {
		width: 70%;
		margin-left: 102px;
		margin-right: 29px;
		width: 1120px;
		.entry-header {
			position: relative;
			h2,
			.entry-title {
				font-size: 2.063rem;
				line-height: 2.625rem;
				letter-spacing: 0.125rem;
				padding: 1rem;
				position: absolute;
				margin-top: 48px;
				max-width: 80%;
				top: 0;
				background-color: $color_everywhere;
				color: $color__background-screen;
			}
			img {
				width: 1000px;
				height: auto;
			}
			a {
				color: $color__background-screen;
				text-decoration: none;
			}
		}
		.entry-meta {
			font-size: 0.875rem;
			text-transform: uppercase;
			position: absolute;
			right: 0;
			bottom: 0;
			padding: 7px;
			margin-bottom: 7px;
			background-color: $color_everywhere;
			color: $color__background-screen;
		}
		.page-links {
			clear: both;
			margin: 0 0 $base__space-unit;
		}
	}
	/* Asides */
	
	.blog .format-aside .entry-title,
	.archive .format-aside .entry-title {
		display: none;
	}
	/*taxonomy-product*/
	
	.content-area {
		margin-left: auto;
		margin-right: auto;
		width: 1120px;
		.page-header {
			border-bottom: 1px dashed $color__border-abbr;
			margin-bottom: 3rem;
			text-align: center;
			font: 1rem $mwl;
			line-height: 1.75em;
			.page-title {
				font: 2rem $nb;
				line-height: 3em;
			}
		}
		.boxes {
			width: 100%;
			display: flex;
			justify-content: space-between;
		}
		.product-post {
			border: 1px solid #e1e1e1;
			width: 23%;
			margin-bottom: 1.5rem;
			.product-thumbnail {
				background: #e1e1e1;
				img {
					height: 250px;
					width: auto;
					background-size: cover;
				}
			}
			.product-info {
				padding: .75rem 1rem;
				.entry-title{
					font: 1rem $mwl;
					}

					h3::before {
						margin: 0;
                    float: left;
                    width: 0;
                    white-space: nowrap;
                    content: "............................................";
                }
				span{
					float:right;
					font: 0.9rem $mwl;
				}
				}
			}
	
		.boxes-archive {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
		}
	}
	
	.single-post {
		.site-content {
			display: flex;
		}
		.site-mains {
			width: 100%;
		}
	}