/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/


/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.site-content {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	.site-main {
		margin-left: 10%;
		flex: 70% 0 0;
		padding: 10% 10% 0% 0%;
		border-right: 1px solid lightgrey;
		.social-container {
			display: flex;
			p{
				margin-right: 5px;
			}
			a {
				text-decoration: none;
				color: black;
				border: 1px solid black;
				font: 0.875rem $n;
				padding: 10px 20px;
				width: 35%;
			}
		}
	}
	.widget-area {
		padding: 10% 0% 0 0;
		margin-right: 80px;
		flex: 20% 0 0;
		h2 {
			font: 1.5rem $nb;
			color: $title_color;
			line-height: 1.875rem;
		}
		a {
			color: $color_everywhere;
			line-height: 28px;
		}
		i {
			margin-right: 5px;
		}
		p {
			font: 1rem $mwl;
		}
		span {
			font: 1rem $mwb;
		}
		li {
			list-style-type: none;
		}
	}
}

.content-area {
	width: 70%;
}

.entry-header {
	position: relative;
	h2,
	.entry-title {
		font-size: 2.063rem;
		line-height: 2.625rem;
		letter-spacing: 0.125rem;
		padding: 1rem;
		position: absolute;
		margin-top: 48px;
		max-width: 80%;
		top: 0;
		background-color: $color_everywhere;
		color: $color__background-screen;
	}
	img {
		width: 1000px;
		height: auto;
	}
	a {
		color: $color__background-screen;
		text-decoration: none;
	}
}

.entry-meta {
	font-size: 0.875rem;
	text-transform: uppercase;
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 7px;
	margin-bottom: 7px;
	background-color: $color_everywhere;
	color: $color__background-screen;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}


/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}


/* Comments */

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}