/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.site-content{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	.site-main {
		margin-left: 10%;
		flex: 70% 0 0;
		padding: 10% 10% 0% 0%;
		border-right: 1px solid lightgrey;
	}
	.widget-area {
	    padding: 10% 0% 0 0;
		margin-right: 80px;
		flex: 20% 0 0;
			
}
}

.content-area{
	width: 70%;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
