footer {
    background: url(../../images/dark-wood@2x.png);
    color: $color__background-body;
    height: 360px;
    margin-top: 30px;

.footer-box{   
    display: flex;
    height: 278px;
    padding: 4%;
    margin-left: 5%;
    .footer-item{
        width: 25%;
    h2 {
        font: 1.188rem $n;
        color: $color_footer;
    }
    p {
        font: 1rem $mwl;
        a{
            display: inline-block;
        }
    }
    span {
        font: 1rem $mwb;
    }
    .logo{
        text-align: right;
    }
}
}
}

.contact a {
    text-decoration: none;
    color: $color__background-body;
    &:hover {
        text-decoration: underline;
    }
}



.copyright {
    text-align: center;
    text-transform: uppercase;
    font: 1rem $n;
}

.logo img{
    margin-left: 219px;
}