/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

.form-submit {
	.submit {
		background: $color_everywhere;
		border: none;
		color: white;
		cursor: pointer;
		font: 0.9rem $n;
		padding: .75rem 1.5rem;
		text-decoration: none;
		text-transform: uppercase;
	}
}


/* Comments */

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

.comments-area {
	margin-left: 5%;
	.comments-title {
		font: 2.1rem $nb;
		color: $title_color;
	}
	.comment-list {
		margin: 0;
		padding: 0;
		li {
			overflow: hidden;
			border-bottom: 1px solid #e1e1e1;
			width: 100%;
			.comment-body {
				padding-bottom: 1.5rem;
				display: flex;
				.comment-author-avatar {
					img {
						border-radius: 30px;
					}
				}
				.comment-content {
					.fn {
						font: 1rem $mwb;
					}
					margin-left: 23px;
					.comment-metadata {
						display: flex;
						font: 1rem $mwl;
						color: grey;
						a {
							color: $color_everywhere;
						}
					}
				}
				p {
					font: 1rem $mwl;
				}
				.reply {
					a {
						color: $color_everywhere;
						font: 1rem $mwl;
					}
				}
			}
		}
	}
	.comment-respond {
		.comment-reply-title {
			font: 1.75rem $nb;
			line-height: 36px;
			margin-top: 1.5rem;
		}
	}
	.comment-form {
		p {
			font: 1rem $mwl;
		}
		h3 {
			margin-top: 1.5rem;
			font: 1.8rem $n;
			line-height: 1.25;
		}
		label {
			font: 1rem $n;
			color: $title_color;
			margin-bottom: .5rem;
			display:block;
		}
		span {
			font: 1rem $n;
			color: $color_footer;
		}
		.logged-in-as {
			a {
				color: black;
			}
		}
	}
	}
	.comment-form-author{
		float: left;
		input{
			width: 343px;
		}
	}
.comment-form-email{
	float: right;
	input{
		width: 343px;
	}
}
	.comment-form-url {
		clear: left;
	input {
		width: 100%;
	}
	}


/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border-radius: 3px;
	background-color: #f4f4f4;
	border: 1px solid #e1e1e1;
	&:focus {
		color: #111;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}

.search-form {
	fieldset {
		border: white;
		a {
			text-decoration: none;
			color: transparent;
			border: none;
			padding: none;
			.search-field {
				font: 1rem $mwl;
			}
		}
	}
}

.no-results {
	.page-header {
		border-bottom: 1px solid #e1e1e1;
	}
	.page-content {
		color: white;
	}
}