.banner-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../images/home-hero.jpg');
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}


/* SHOP SECTION*/

.taxonomy-loop {
  margin-left: 113px;
  margin-right: 113px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: $font_footer3;
  .taxonomy-loop-wrapper {
    text-align: center;
    border: 1px solid #e1e1e1;
    border-top-width: 5px;
    width: 23.5%;
    padding: 12px;
    flex: 23% 0 0;
    img {
      height: 70px;
      width: 70px;
    }
    a {
      text-decoration: none;
    }
    .btn {
      background: #248a83;
      color: white;
      text-transform: uppercase;
      font: 1rem $font_header;
      cursor: pointer;
      padding: 12px 24px;
    }
  }
}

h6 {
  font: 2rem $font_header;
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 42px;
  margin-bottom: 43px;
  text-transform: uppercase;
}


/* BLOG SECTION */

.journal {
  height: 400px;
  margin-left: 113px;
  margin-right: 113px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.journal-container {
  display: flex;
  img {
    height: 200px;
    width: 90%;
  }
  .post-list-info {
    height: 370px;
    width: 343px;
    .info-area {
      display: flex;
      flex-direction: column;
      text-align: left;
      border: 1px solid #e1e1e1;
      border-top-width: 5px;
      font: 0.75rem $font_footer3;
      line-height: 1rem;
      width: 90%;
      a {
        text-decoration: none;
      }
      .title {
        font: 1.25rem $font_header2;
        color: #248a83;
        line-height: 1.62rem;
      }
      .read-entry-btn {
        color: black;
        border: 1px solid black;
        font: 0.7rem $font_header;
        padding: 10px 20px;
        width: 35%;
      }
    }
  }
}


/* ADVENTURE SECTION*/

.adventures {
  margin-left: 113px;
  margin-right: 113px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
    .read-more-adven{
      background: #248a83;
      color: white;
      text-transform: uppercase;
      font: 1rem $font_header;
      cursor: pointer;
      padding: 12px 24px;
      text-decoration: none;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  .adventure-section-1, .adventure-section-2{
    a{
    text-decoration: none;
    color:white;
    }
  }

.adventure-section-1{
  width: 47%;
  margin: 0;
  font: 3rem $font_footer3;
  .canoe {
        background: linear-gradient( to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), url('../../images/adventure-photos/canoe-girl.jpg') no-repeat center center;
        background-size: cover;
    height: 400px;
    width: 100%;
    .canoe-text{
      display: block;
      h5{
        margin:0;
        margin-left: 28px;
      }
    }
    }
}
.adventure-section-2{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  height: 30%;
  width: 51%;
  font-family:$font_footer3;
    .beach {
        background: linear-gradient( to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), url('../../images/adventure-photos/beach-bonfire.jpg') no-repeat center center;
        background-size: cover, cover;
      height: 202px;
      font-size: 2rem;
      .beach-text{
        display: block;
      }
    }
    .view {
        background: linear-gradient( to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), url('../../images/adventure-photos/mountain-hikers.jpg') no-repeat center center;
        background-size: cover, cover;
      height: 186px;
      width:48%;
      font-size:1.563rem;
    }
    .sky {
        background: linear-gradient( to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), url('../../images/adventure-photos/night-sky.jpg') no-repeat center center;
        background-size: cover, cover;
 height: 186px;
      width:48%;
      font-size:1.563rem;
}
}
}

 .read-more-btn{
        color: white;
        border: 1px solid white;
        font: 0.7rem $font_header;
        padding: 10px 20px;
        width: 35%;
        &:hover{
          background: #248a83;
        }
 }