/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/


/* Links */

a {
	color: white;
}

&:focus {
	outline: thin dotted;
}

&:hover,
&:active {
	outline: 0;
}


/* Menus */

.main-navigation {
	clear: both;
	display: flex;
	background: hsla(0, 0%, 100%, .8);
	width: 100%;
	position: fixed;
	justify-content: space-between;
	img {
		height: 26px;
		margin-left: 122px;
	}
	.menu li {
		text-transform: uppercase;
		font: 1rem $n;
		line-height: 28px;
		padding-left: 1.5rem;
		a {
			color: $color_everywhere;
		}
	}
	.icon-search {
		color: $color_everywhere;
		font-size: 1rem;
		padding: 0px;
	}
	fieldset {
		border: none;
		padding: 0px;
		padding-left: 1.5rem;
		.flexit {
			display: flex;
		}
		input[type="search"] {
			width: 0px;
			padding: 0;
			&:focus {
				outline: none;
			}
		}
	}
}

ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
	ul {
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
		float: left;
		position: absolute;
		top: $base__space-unit;
		left: -999em;
		z-index: 99999;
		ul {
			left: -999em;
			top: 0;
		}
		li {
			&:hover>ul,
			&.focus>ul {
				left: 100%;
			}
			font: 1rem $n;
		}
		a {
			width: 200px;
		}
	}
	li:hover>ul,
	li.focus>ul {
		left: auto;
	}
}

li {
	float: left;
	position: relative;
}

a {
	display: block;
	text-decoration: none;
}


/* Small menu. */

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {
	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}
	.nav-previous {
		float: left;
		width: 50%;
	}
	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

.primary_menu {
	color: white;
}

.site-header {
	top: 0;
	width: 100%;
	border-bottom: 1px solid lightgrey;
	position: fixed;
	z-index: 999;
	background-color: rgba(255, 255, 255, 0.6);
}

.nav-menu-mini {
	display: flex;
	align-items: flex-end;
	margin-right: 91px;
}

.logged-in .site-header {
	top: 32px;
}

.header-search fieldset {
	border: none;
	margin-top: 7px;
	.icon-search {
		display: inline;
	}
	button {
		visibility: hidden;
	}
	.fa {
		font-size: 1rem;
		color: $color_everywhere;
	}
	input[type="search"] {
		border: none;
		width: 0px;
		padding: 0;
		text-transform: uppercase;
		font-size: 1rem;
		&:focus {
			outline: none;
		}
	}
}