.search-results{
    .page-title{
    letter-spacing: 2px;
    text-transform: uppercase;
    font: 2rem $nb; 
    }
    .status-publish{
        .entry-title{
              background: none;
    color: #248a83;
    top: -95px;
        }
    }
}