.search-results{
    .page-title{
    letter-spacing: 2px;
    text-transform: uppercase;
    font: 2rem $nb; 
    }
    .status-publish{
        .entry-title{
              background: none;
    color: #248a83;
    top: -95px;
        }
    }
}

.search-no-results, .search-results{
    .site-content{
        display:flex;
    }
    .site-mains{
        width: 100%;
    }
}